@media screen and (max-width: 718px){
    header .container{
        display: flex;
        flex-direction: column;
    }   

    .button{
        margin-top: 10px;
        width: 170px;
        height: 50px;
    }
}

@media screen and (min-width: 1024px){
    .descrition{
        width: 50%;
    }
}